.header{
    @include header;
}
.header-page{
    position: relative;
    .logo{
        @include header;
        width: auto;
        height: 4.3rem;
    }
    .flex{
        position: absolute;
        top: 30%;
        left: 5%;
        color: $color-black;
        font-weight: 600;
        font-size: 1.3rem;
    }
}
