
.main-accueil {
    grid-area: main;
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "menu" "fonctionnement" "restaurants";*/ 
    display: flex;
    flex-direction: column;
}
  
.main-page {
    .container {
        grid-area: main;
        display: flex;
        flex-direction: column;
        .contain-heading__img {
            width: 100vw;
            height: 225px;
            & img{
                width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
    }
}
