@import "mixins";
@import "variables";

*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    @include body;
}

.header-page{
    @include header-accueil;
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin-right: 28%;
    .flex{
        color: $color;
        font-weight: 600;
        font-size: 1.3rem;
    }
}
.main-page{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    .container{
        grid-area: main;
        display: flex;
        flex-direction: column;
        .contain-heading__img{
            object-fit: cover;
            overflow: hidden;
            width: 100vw;
            max-height: 240px;
        }   
    }
}
.bloc{
    background-color: #f2f2f2;
    border-radius: 35px 35px 0 0;
    padding: 10px 2.5% 40px 1%;
    width: 100%;
    margin: auto;
    z-index: 1;
}
.bloc-menu{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    grid-template-areas:"menu1"
                        "menu2"
                        "menu3" 
                        "bouton";
    &:nth-child(1){
        grid-area: menu1;
        align-items: flex-start;
    }
    &:nth-child(2){
        grid-area: menu2;
        align-items: flex-start;
    }
    &:nth-child(3){
        grid-area: menu3;
        align-items: flex-start;
    }
}
.bloc-menu__etape{
    display: grid;
    grid-template-columns: 1fr;
    .title{
        grid-column: 1/-1;
        margin-left: 3%;
        width: 40px;
        border-bottom: 4px solid $color-tertiaire;
    }
}
.menu__tarif{
    display: block;
    position: absolute;
}
.bloc-heading{
    @include flex;
    width: 90%;
    .bloc-heading__text{
        font-size: 1.7rem;
        font-family: $fontfam-title;
    }
}
.bloc-heading__icon{
    font-size: 1.5rem;
    .icon-plein{
        display: none;
    }
    .icon-vide{
        display: block;
    }
    &:hover{
        .icon-plein{
            display: block;
            background: linear-gradient($color-primaire, $color-secondaire);
            background: -webkit-linear-gradient($color-primaire, $color-secondaire);
            background: -moz-linear-gradient($color-primaire, $color-secondaire);
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            /*animation: coeur 5s;*/ 
            animation: coeur 200ms 100ms ease;
        }
        @keyframes coeur {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        .icon-vide{
            display: none;
        }
    }
}
.brochure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}
.brochure--page2{
    height: 334px;
}
.menu {
    border-radius: 20px;
    position: relative;
    padding: 11px 0 11px 11px;
    width: 96%;
    height: 70px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 8px #c2c2c2;
    margin: auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    display: flex;
    justify-content: space-between;
    &:nth-child(1){
        animation: defile 800ms 200ms forwards;
    }
    &:nth-child(2){
        animation: defile 800ms 400ms forwards;
    }
    &:nth-child(3){
        animation: defile 800ms 600ms forwards;
    }
    &:nth-child(4){
        animation: defile 800ms 800ms forwards;
    }
    &__text{
        width: 80%;
        transform: scaleX(1);
        transform-origin: left;
        transition: width 300ms 100ms linear;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .titre_plat{
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;      
        }
        .sous-titre{
            margin: 0;
            font-weight: 300;
            margin-bottom: 15px;
            font-size: 0.95rem;
            overflow: hidden;
            text-overflow: ellipsis;  
        }
    }
    .anim-box-icon{
        display: flex;
        
        background-color: $color-tertiaire;
        width: 72px;
        height: 70px;
        padding-right: 0;
        border-radius: 0 20px 20px 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 300ms 100ms linear;
        
        .anim-icon{
            color: #fff;
            font-size: 1.6rem;
            margin: auto;
            transform: rotate(0deg);
            transition: transform 300ms 100ms linear;
        }
    }
    &__tarif{
        align-self: flex-end;
        color: #363636;
        font-weight: 700;
        position: absolute;
        right: 15px;
        bottom: 15px;
        transform-origin: right;
        transition: transform 300ms 100ms linear;
    }
    &:hover{
        cursor: pointer;
    }
    &:hover .menu__text{
            width: 60%;
            .sous-titre{
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .titre_plat{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
    }
    &:hover .anim-box-icon{
            transform: scaleX(1);
    }
    &:hover .anim-icon{
            transform: rotate(360deg);
    }
    &:hover .menu__tarif{
            transform: translateX(-72px);
    }
}
            
@keyframes box-icon {
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translate(-50px);
    }
}
@keyframes defile{
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0);
    }
}
.btn{
    grid-area: bouton;
    @include btn;
    width: 188px;
    margin-bottom: 30px;
    margin-top: 12px;
}
.footer{
    @include footer;
 }
 @media only screen and (min-width:740px) and (max-width:1100px) {
    .bloc-menu{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        align-self: start;
        row-gap: 1rem;
        grid-template-areas:"menu1 menu2" 
                            "menu3 menu3" 
                            "bouton bouton" ;  
    }
 }
 @media only screen and (min-width:1101px) {
     .bloc{
         top: 100%;
     }
    .bloc-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:"menu1 menu2 menu3"
                            "bouton bouton bouton" ;
    }
 }