$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$color-white: #fff;
$color-black: #000;
$color-icon: lighten($color-black,30%);
$color-font: #F2F2F2;
$color-btn-hover:lighten($color-primaire,10%);
$fontfam: "Roboto", sans-serif;
$fontfam-title: "Shrikhand", sans-serif ;

$breakpoints-map:(
    tablet: 700px,
    desktop: 1024px
);

