.main-accueil{
    grid-area: main;
    display: grid;
    grid-template-rows:  50px 286px 440px 1226.5px ;
    grid-template-areas: "heading"
                         "menu"
                         "fonctionnement"
                         "restaurants";
                         
}
.main-page{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    .container{
        grid-area: main;
        display: flex;
        flex-direction: column;
        .contain-heading__img{
            object-fit: cover;
            overflow: hidden;
            width: 100vw;
            max-height: 240px;
        }   
    }
}